@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&family=Montserrat:ital,wght@1,800&family=Orbitron&display=swap');


body {

    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
   /* align-items: center;
    justify-content: center;
    display: flex;*/
}

.container1{
   max-width: 980px;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.box {
    width: 360px;
    height: 290px;
    margin: 10px;
    box-shadow: 1px 1px 10px #000000;
    background-color: black;
 }


img {
    width: 350px;
    height: 240px;     
    margin-top: 10px;
   
}